# Python Libraries

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Import (1)

In [34]:
df = pd.read_csv("Minimum Wage Data.csv", encoding='ISO-8859-1')

In [35]:
df.head()

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65(b),1.65000,12.26,1.65000,12.26,(b)

# Data Cleaning

In [36]:
df.columns

Index(['Year', 'State', 'State.Minimum.Wage',
       'State.Minimum.Wage.2020.Dollars', 'Federal.Minimum.Wage',
       'Federal.Minimum.Wage.2020.Dollars', 'Effective.Minimum.Wage',
       'Effective.Minimum.Wage.2020.Dollars', 'CPI.Average',
       'Department.Of.Labor.Uncleaned.Data',
       'Department.Of.Labor.Cleaned.Low.Value',
       'Department.Of.Labor.Cleaned.Low.Value.2020.Dollars',
       'Department.Of.Labor.Cleaned.High.Value',
       'Department.Of.Labor.Cleaned.High.Value.2020.Dollars', 'Footnote'],
      dtype='object')

In [37]:
df.isnull().sum()

Year                                                      0
State                                                     0
State.Minimum.Wage                                        0
State.Minimum.Wage.2020.Dollars                           0
Federal.Minimum.Wage                                      0
Federal.Minimum.Wage.2020.Dollars                         0
Effective.Minimum.Wage                                    0
Effective.Minimum.Wage.2020.Dollars                       0
CPI.Average                                               0
Department.Of.Labor.Uncleaned.Data                        0
Department.Of.Labor.Cleaned.Low.Value                     0
Department.Of.Labor.Cleaned.Low.Value.2020.Dollars       15
Department.Of.Labor.Cleaned.High.Value                    0
Department.Of.Labor.Cleaned.High.Value.2020.Dollars      15
Footnote                                               2406
dtype: int64

In [38]:
df.drop(columns=['State.Minimum.Wage.2020.Dollars', 'Federal.Minimum.Wage.2020.Dollars', 'Effective.Minimum.Wage.2020.Dollars',
                 'Department.Of.Labor.Uncleaned.Data', 'Department.Of.Labor.Cleaned.Low.Value.2020.Dollars', 'Department.Of.Labor.Cleaned.High.Value.2020.Dollars',
                 'Footnote'], inplace=True)

# State Population Dataset (2)

In [39]:
df2 = pd.read_csv("state_pops.csv")

In [40]:
df2.isnull().sum()

Year               0
Alaska            50
Alabama            0
Arkansas           0
Arizona            0
California         0
Colorado           0
Connecticut        0
Delaware           0
Florida            0
Georgia            0
Hawaii            50
Idaho              0
Illinois           0
Indiana            0
Iowa               0
Kansas             0
Kentucky           0
Louisiana          0
Maine              0
Maryland           0
Massachusetts      0
Michigan           0
Minnesota          0
Mississippi        0
Missouri           0
Montana            0
Nebraska           0
Nevada             0
New Hampshire      0
New Jersey         0
New Mexico         0
New York           0
North Carolina     0
North Dakota       0
Ohio               0
Oklahoma           0
Oregon             0
Pennsylvania       0
Rhode Island       0
South Carolina     0
South Dakota       0
Tennessee          0
Texas              0
D.C.               0
Utah               0
Vermont            0
Virginia           0
Washington         0
West Virginia      0
Wisconsin          0
Wyoming            0
dtype: int64

In [41]:
# Reshaping the new dataset from wide to long format
df2 = pd.melt(df2, id_vars=['Year'], var_name='State', value_name='Population')

### Dataset Merge (1 & 2)

In [42]:
df = pd.merge(df, df2, on=['Year', 'State'], how='inner')

# Median Average Wages Dataset (3)

In [43]:
df3 = pd.read_csv("median_average_wages.csv")

df3.columns

Index(['year', 'median', 'average', 'men_median', 'men_average',
       'women_median', 'women_average', 'white_median', 'white_average',
       'black_median', 'black_average', 'hispanic_median', 'hispanic_average',
       'white_men_median', 'white_men_average', 'black_men_median',
       'black_men_average', 'hispanic_men_median', 'hispanic_men_average',
       'white_women_median', 'white_women_average', 'black_women_median',
       'black_women_average', 'hispanic_women_median',
       'hispanic_women_average', 'recent_high-school_graduate',
       'men_recent_high-school_graduate', 'women_recent_high-school_graduate',
       'recent_college_graduate', 'men_recent_college_graduate',
       'women_recent_college_graduate'],
      dtype='object')

In [12]:
df3.isnull().sum()

df3.drop(columns=['white_median', 'white_average',
       'black_median', 'black_average', 'hispanic_median', 'hispanic_average',
       'white_men_median', 'white_men_average', 'black_men_median',
       'black_men_average', 'hispanic_men_median', 'hispanic_men_average',
       'white_women_median', 'white_women_average', 'black_women_median',
       'black_women_average', 'hispanic_women_median',
       'hispanic_women_average', 'recent_high-school_graduate',
       'men_recent_high-school_graduate', 'women_recent_high-school_graduate',
       'recent_college_graduate', 'men_recent_college_graduate',
       'women_recent_college_graduate'], inplace=True)

### Dataset Merge (1 & 2 & 3)

In [13]:
df = pd.merge(df, df3, left_on = ['Year'], right_on = ['year'], how='inner')

# Exploratory Data Analysis (EDA)

In [14]:
df.head(5)

,Year,State,State.Minimum.Wage,Federal.Minimum.Wage,Effective.Minimum.Wage,CPI.Average,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.High.Value,Population,year,median,average,men_median,men_average,women_median,women_average
0,1973,Alabama,0.000,1.6,1.60,44.4,0.000,0.00,3.579780,1973,19.77,22.99,24.0,26.96,15.1,17.31
1,1973,Alaska,2.100,1.6,2.10,44.4,2.100,2.10,0.330543,1973,19.77,22.99,24.0,26.96,15.1,17.31
2,1973,Arizona,0.468,1.6,1.60,44.4,0.468,0.66,2.124438,1973,19.77,22.99,24.0,26.96,15.1,17.31
3,1973,Arkansas,1.200,1.6,1.60,44.4,1.200,1.20,2.059256,1973,19.77,22.99,24.0,26.96,15.1,17.31
4,1973,California,1.650,1.6,1.65,44.4,1.650,1.65,20.868728,1973,19.77,22.99,24.0,26.96,15.1,17.31

In [23]:
df['Year'].unique()

array([1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
       1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994,
       1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005,
       2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       2017], dtype=int64)

### Correlation Analysis

In [15]:
columns_of_interest = ['State.Minimum.Wage', 'Year', 'Federal.Minimum.Wage',
       'Effective.Minimum.Wage', 'CPI.Average',
       'Department.Of.Labor.Cleaned.Low.Value',
       'Department.Of.Labor.Cleaned.High.Value', 'Population',
       'median', 'average', 'men_median', 'men_average', 'women_median',
       'women_average']

subset_df = df[columns_of_interest]

correlation_with_state_minimum_wage_subset = subset_df.corr()['State.Minimum.Wage'].sort_values(ascending=False)

print(correlation_with_state_minimum_wage_subset)

State.Minimum.Wage                        1.000000
Department.Of.Labor.Cleaned.Low.Value     1.000000
Department.Of.Labor.Cleaned.High.Value    0.984619
Effective.Minimum.Wage                    0.771696
Year                                      0.709242
Federal.Minimum.Wage                      0.708963
CPI.Average                               0.705877
women_average                             0.700633
average                                   0.685592
women_median                              0.682973
men_average                               0.647295
median                                    0.591674
Population                                0.137301
men_median                               -0.122653
Name: State.Minimum.Wage, dtype: float64

# Regression Modeling

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Selecting predictors
X = df[["Year", "Federal.Minimum.Wage", "Effective.Minimum.Wage", "CPI.Average", "Population"]]

# Target variable
y = df["State.Minimum.Wage"]

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Checking the shape of the split data
X_train.shape, X_test.shape, y_train.shape, y_test.shape

C:\Users\nolan_fur2pfn\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

((1800, 5), (450, 5), (1800,), (450,))

In [17]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mse)

print("MSE: ", mse)
print(" ")
print("R2: ", r2)
print(" ")
print("RMSE: ", rmse)

MSE:  2.579118037838935

R2:  0.618949628776275

RMSE:  1.6059632741252008

In [18]:
# Predicting minimum wage for the entire dataset
predicted_wage = regressor.predict(X)

# Adding the predicted minimum wage as a new column in the original dataframe
df['Predicted_Minimum_Wage'] = predicted_wage

df = df.round(2)

In [20]:
df[['State', 'Year', 'State.Minimum.Wage', 'Predicted_Minimum_Wage']]

              State  Year  State.Minimum.Wage  Predicted_Minimum_Wage
0           Alabama  1973                0.00                    0.87
1            Alaska  1973                2.10                    1.74
2           Arizona  1973                0.47                    0.85
3          Arkansas  1973                1.20                    0.85
4        California  1973                1.65                    1.11
...             ...   ...                 ...                     ...
2245       Virginia  2017                7.25                    5.92
2246     Washington  2017               11.00                   12.66
2247  West Virginia  2017                8.75                    8.56
2248      Wisconsin  2017                7.25                    5.89
2249        Wyoming  2017                5.15                    5.85

[2250 rows x 4 columns]

In [ ]:
# Logistic Regression
# Predict if State is more than Federal minimum wage